*
{
    margin: 0;
    padding: 0;
}
body
{
background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;

}
#block
{
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color:rgb(207, 207, 207);
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;   
}
#right
{
    margin: auto;
}

#right h3
{
    margin-top: 10px;
}

#right h2
{
    margin-top: 30px;
}
hr
{
    margin: auto;
}
#language
{
    margin-left: 5%;
    background-color: rgba(255,255,255);
    margin-top: 30px;
    padding-left: 5%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

#language h3
{
    margin-top: 10px;
}

h1
{
    font-size: 80px;
}